In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
real_news = pd .read_csv("True.csv")
fake_news = pd.read_csv("Fake.csv")

In [3]:
real_news

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"
...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017"
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017"
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017"
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017"
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017"

In [4]:
fake_news

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [5]:
real_news["authenticity"] = 0
fake_news["authenticity"] = 1

In [6]:
real_news

,title,text,subject,date,authenticity
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0
...,...,...,...,...,...
21412,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
21413,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
21414,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
21415,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
21416,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [7]:
fake_news

,title,text,subject,date,authenticity
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1
...,...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016",1
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016",1
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016",1
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016",1
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016",1

In [8]:
dataset_true = real_news[["text", "authenticity"]]
dataset_fake = fake_news[["text", "authenticity"]]

In [9]:
dataset_true.head()

                                                text  authenticity
0  WASHINGTON (Reuters) - The head of a conservat...             0
1  WASHINGTON (Reuters) - Transgender people will...             0
2  WASHINGTON (Reuters) - The special counsel inv...             0
3  WASHINGTON (Reuters) - Trump campaign adviser ...             0
4  SEATTLE/WASHINGTON (Reuters) - President Donal...             0

In [10]:
dataset = pd.concat([dataset_true, dataset_fake])

In [11]:
dataset

                                                    text  authenticity
0      WASHINGTON (Reuters) - The head of a conservat...             0
1      WASHINGTON (Reuters) - Transgender people will...             0
2      WASHINGTON (Reuters) - The special counsel inv...             0
3      WASHINGTON (Reuters) - Trump campaign adviser ...             0
4      SEATTLE/WASHINGTON (Reuters) - President Donal...             0
...                                                  ...           ...
23476  21st Century Wire says As 21WIRE reported earl...             1
23477  21st Century Wire says It s a familiar theme. ...             1
23478  Patrick Henningsen  21st Century WireRemember ...             1
23479  21st Century Wire says Al Jazeera America will...             1
23480  21st Century Wire says As 21WIRE predicted in ...             1

[44898 rows x 2 columns]

In [12]:
dataset.isnull().sum()

text            0
authenticity    0
dtype: int64

In [13]:
dataset = dataset.sample(frac = 1)

In [14]:
dataset.head()

                                                    text  authenticity
10861  WASHINGTON (Reuters) - U.S. State Department i...             0
7723   MEXICO CITY (Reuters) - Mexican President Enri...             0
9847   WASHINGTON (Reuters) - Activists in a group su...             0
6726   It s a wonder why Donald Trump has been divorc...             1
1882   MEXICO CITY (Reuters) - Mexico and Central Ame...             0

In [15]:
import nltk
import re

In [16]:
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [17]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\KALASH\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [18]:
wnl = WordNetLemmatizer()
stopwords = stopwords.words("english")

In [19]:
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\KALASH\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [20]:
def clean_news(news):
    news = news.lower()
    news = re.sub("[^a-zA-Z]", " ", news)
    single_words = news.split()
    lemmatized_news = [wnl.lemmatize(word) for word in single_words if not word in stopwords]
    final_news = " ".join(lemmatized_news)
    return final_news

In [21]:
dataset["text"] = dataset["text"].apply(lambda x: clean_news(x))

In [22]:
dataset.isnull().sum()

text            0
authenticity    0
dtype: int64

In [23]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [24]:
tfv = TfidfVectorizer(max_features=50000, lowercase=False, ngram_range=(1, 2))

In [25]:
dataset

                                                    text  authenticity
10861  washington reuters u state department investig...             0
7723   mexico city reuters mexican president enrique ...             0
9847   washington reuters activist group supporting m...             0
6726   wonder donald trump divorced many time clearly...             1
1882   mexico city reuters mexico central american co...             0
...                                                  ...           ...
3697   fox news literally pretending treated presiden...             1
19093  gonna love left screaming decade government in...             1
8188   november year old tamir rice gunned cleveland ...             1
20220  kutupalong camp bangladesh reuters aid agency ...             0
15703  moratorium guy congress getting around morator...             1

[44898 rows x 2 columns]

In [26]:
X = dataset.iloc[:, 0]
y = dataset.iloc[:, 1]

In [27]:
X

10861    washington reuters u state department investig...
7723     mexico city reuters mexican president enrique ...
9847     washington reuters activist group supporting m...
6726     wonder donald trump divorced many time clearly...
1882     mexico city reuters mexico central american co...
                               ...
3697     fox news literally pretending treated presiden...
19093    gonna love left screaming decade government in...
8188     november year old tamir rice gunned cleveland ...
20220    kutupalong camp bangladesh reuters aid agency ...
15703    moratorium guy congress getting around morator...
Name: text, Length: 44898, dtype: object

In [28]:
y

10861    0
7723     0
9847     0
6726     1
1882     0
        ..
3697     1
19093    1
8188     1
20220    0
15703    1
Name: authenticity, Length: 44898, dtype: int64

In [29]:
from sklearn.model_selection import train_test_split
train_X, test_X, train_y, test_y = train_test_split(X, y, test_size=0.2, random_state=0)

In [30]:
vec_train_X = tfv.fit_transform(train_X).toarray()

In [31]:
vec_train_X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [32]:
train_X.shape

(35918,)

In [35]:
vec_test_X = tfv.transform(test_X).toarray()

In [36]:
vec_train_X.shape, vec_test_X.shape

((35918, 50000), (8980, 50000))

In [37]:
vec_train_X

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [38]:
training_data = pd.DataFrame(vec_train_X, columns= tfv.get_feature_names())
test_data = pd.DataFrame(vec_test_X, columns= tfv.get_feature_names())

In [39]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report

In [40]:
classifier = MultinomialNB()
classifier.fit(training_data, train_y)

MultinomialNB()

In [41]:
y_pred = classifier.predict(test_data)

In [42]:
print(classification_report(test_y, y_pred))

              precision    recall  f1-score   support

           0       0.95      0.95      0.95      4292
           1       0.95      0.96      0.96      4688

    accuracy                           0.95      8980
   macro avg       0.95      0.95      0.95      8980
weighted avg       0.95      0.95      0.95      8980

In [43]:
y_pred_train = classifier.predict(training_data)
print(classification_report(train_y, y_pred_train))

              precision    recall  f1-score   support

           0       0.96      0.95      0.96     17125
           1       0.96      0.96      0.96     18793

    accuracy                           0.96     35918
   macro avg       0.96      0.96      0.96     35918
weighted avg       0.96      0.96      0.96     35918

In [44]:
accuracy_score(train_y, y_pred_train)

0.9579319561222785

In [45]:
accuracy_score(test_y, y_pred)

0.9537861915367484

In [48]:
news = clean_news(str("NEW YORK/WASHINGTON (Reuters) - The new U.S. tax code targets high-tax states and may be unconstitutional, New York Governor Andrew Cuomo said on Thursday, saying that the bill may violate New York residentsâ€™ rights to due process and equal protection.  The sweeping Republican tax bill signed into law by U.S. President Donald Trump on Friday introduces a cap, of $10,000,  on deductions of state and local income and property taxes, known as SALT. The tax overhaul was the partyâ€™s first major legislative victory since Trump took office in January.  The SALT provision will hit many taxpayers in states with high incomes, high property values and high taxes, like New York, New Jersey and California. Those states are generally Democratic leaning.  â€œIâ€™m not even sure what they did is legally constitutional and thatâ€™s something weâ€™re looking at now,â€ Cuomo said in an interview with CNN. In an interview with CNBC, Cuomo suggested why the bill may be unconstitutional.  â€œPolitics does not trump the law,â€ Cuomo said on CNBC. â€œYou have the constitution, you have the law, you have due process, you have equal protection. You canâ€™t use politics just because the majority controls to override the law.â€ The Fifth Amendment of the Constitution, better known for its protection against self-incrimination, also protects individuals from seizure of life, liberty or property without due process and has been interpreted by the Supreme Court as guaranteeing equal protection by the law.  Cuomo and California Governor Jerry Brown, both Democrats, have previously said they were exploring legal challenges to SALT deduction limits.  Law professors have said legal challenges would likely rest on arguing that the provision interferes with the protection of statesâ€™ rights under the U.S. Constitutionâ€™s 10th Amendment. Tax attorneys said Cuomoâ€™s legal argument against the tax bill could be that it discriminates and places an unjust tax burden on states that heavily voted for Democrats in the past - known as â€œblue states.â€ â€œThe de facto effect of this legislation is to discriminate against blue states and particularly from (Cuomoâ€™s) perspective the state of New York,â€ said Joseph Callahan, an attorney with the law firm Mackay, Caswell & Callahan in New York.  But some tax experts noted the U.S. Supreme Court has interpreted the 16th Amendment to give Congress broad latitude to tax as it sees fit. In a frequently cited 1934 decision, the Supreme Court called tax deductions a â€œlegislative graceâ€ rather than a vested right. â€œI donâ€™t understand how they think they have a valid lawsuit here,â€ David Gamage, a professor of tax law at Indiana Universityâ€™s Maurer School of Law, told Reuters last week, speaking generally about governors in blue states that could challenge the tax bill.  Cuomo also said on Thursday that New York is proposing a restructuring of its tax code. He provided no details.  A group of 13 law professors on Dec. 18 published a paper suggesting ways that high-tax states could minimize the effects of the SALT deduction cap.  Their suggestions included shifting more of the tax burden onto businesses in the form of higher employer-side payroll taxes, since the federal tax billâ€™s cap on SALT deductions only applies to individuals and not businesses. States also could raise taxes on pass-through entities, which the federal tax bill specifically benefits with a lower rate on a portion of their income. On Friday, Cuomo said he would allow state residents to make a partial or full pre-payment on their property tax bill before Jan. 1, allowing taxpapyers to deduct such payments for 2017 before the cap kicks in, prompting a wave of residents to pay early.  However, the U.S. Internal Revenue Service on Wednesday advised homeowners that the pre-payment of 2018 property taxes may not be deductible. "))

In [49]:
single_prediction = classifier.predict(tfv.transform([news]).toarray())
print(single_prediction)

[0]

In [50]:
import joblib

In [51]:
joblib.dump(classifier, "passiveAggresiveClassifier.pkl")

['passiveAggresiveClassifier.pkl']